<div class="jumbotron">
  <div class="col-md-10">
    <h1 id="title">{{#link-to 'index'}}STUDIO BEAT{{/link-to}}</h1>
  </div>
  <div class="col-md-2">
    <div class="header-block">
      {{#link-to 'admin'}}<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>{{/link-to}}
        {{#link-to 'favorites'}}<span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>{{/link-to}}
    </div>
  </div>
</div>



  {{outlet}}
