<h3>The List</h3>
{{#each model.studios as |studio|}}
<div class="studio-list">
  <img class="icon" src={{studio.image}} />
  <h2>{{#link-to 'studio' studio.id}}{{studio.name}}{{/link-to}}</h2>
</div>
{{/each}}
