<div class="new-studio-display">
  <h2>Full List</h2>

  {{#each model.studios as |studio|}}
  <div class="col-md-4">
    <div class="studio-list">
      <img class="studio-list-view" src={{studio.image}} />
      <h3>{{#link-to 'studio' studio.id}}{{studio.name}}{{/link-to}}</h3>
      <p>Review count: </p>
      <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true" {{action 'addToFavorites' studio on="click"}}></span>
    </div>
  </div>
  {{/each}}
</div>
