<div class='row'>
{{studio-tile studio=model}}
</div>

<div class="row">
<h1>Reviews</h1>
{{new-review studio=model saveReview="saveReview" }}
</div>

<h2>Reviews for {{model.name}}</h2>
  {{review-tile reviews=model.reviews}}
